.info__error {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin: 0 auto 60px; 
}

@media screen and (max-width: 600px) {
  .info__error{
      font-size: 20px;
      line-height: 24px;
      margin: 0 auto 50px;
  }
}